<html>
  <head>
    <title>Ola's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="">My Second Blog</a></h1>
    </div>

    <div>
      <p>published: 22.04.2016, 14:33</p>
      <h2><a href="">My first post</a></h2>
      <p>S1 is a test. S1 is a test. S1 is a test. S1 is a test. S1 is a test. S1 is a test. S1 is a test.</p>
    </div>

    <div>
      <p>published: 22.04.2016, 14:33</p>
      <h2><a href="">My second post</a></h2>
      <p>S2 is a test. S2 is a test. S2 is a test. S2 is a test. S2 is a test. S2 is a test. S2 is a test. S2 is a test. S2 is a test. </p>
    </div>
  </body>
</html>
